/* Table of Contents
/* ------------------------------------------------------------

1.  Global Styles
2.  Layout
3.  Header
4.  About
5.  why
6.  Business Details
7.  Leadership
8.  Contact
9.  Footer
10.  Views
  10.1 Dark Mode
  10.2 Light Mode
11. Other Pages

*/

/* 1. Global - Set up the things
/* ---------------------------------------------------------- */

:root {
  /* Color Variables */
  --color-white: #FFFFFF;
  --color-light-black: #1F2624;
  --color-black: #191919;
  --color-dark-blue: #0077C0;
  --color-light-blue: #589cc5;
  --color-grey: #dce4ef;

  --color-light-green: #B8DECF;
  --color-medium-green: #277F6A;
  --color-dark-green: #0A2B23;
  --color-light-yellow: #FFD564;
  --color-dark-yellow: #BDBD0C;

  /* Font Variables */
  --font-family-display: 'Red Hat Display', sans-serif;
  --font-family-text: 'Red Hat Text', sans-serif;

  --font-size-h1: 2.5rem; /* 40px */
  --font-size-h2: 1.75rem; /* 28px */
  --font-size-h3: 1.375rem; /* 22px */
  --font-size-h4: 1.125rem; /* 18px */
  --font-size-body-large: 1.125rem; /* 18px */
  --font-size-body: 1rem; /* 16px */
  --font-size-body-small: 0.875rem; /* 14px */

  --font-weight-regular: 400;
  --font-weight-bold: 700;

  --line-height-h1: 120%; /* 3rem / 40px */
  --line-height-h2: 132%; /* 2.3rem / 28px */
  --line-height-h3: 1.8rem; /* 1.8rem / 22px */
  --line-height-h4: 1.56rem; /* 1.56rem / 18px */
  --line-height-normal: normal;
}

/* 2. Layout - Page building blocks
/* ---------------------------------------------------------- */

body {
  font-family: var(--font-family-text);
  margin: 0;
  padding: 0;
  background-color: var(--color-dark-blue);
  color: var(--color-white);
}

.link {
  color: var(--color-white);
  text-decoration: none;
  border-bottom: 2px solid var(--color-white);
  transition: color 0.3s, border-bottom-color 0.3s;
}

.link:hover {
  color: var(--color-light-green);
  border-bottom-color: var(--color-light-green);
}

/* Headers */

h2 {
  position: relative;
  z-index: 1;
  margin: 0;
  font-family: var(--font-family-display);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-h1);
}

h3 {
  color: var(--color-grey);
  text-align: left;
  font-size: var(--font-size-h3);
  margin-bottom: 0.25em;
}

h4 {
  margin-bottom: 0.5em;
  color: var(--color-white);
  font-size: var(--font-size-h4);
}

/* Text Stuff */
p {
  color: var(--color-white);
  margin-bottom: 1em;
}

/* Lists */
ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  margin: 0.5em 0;
  color: var(--color-white);
}

/* Site width and stuff */
.wrapper {
  max-width: 80%; /* Adjust percentage as needed */
  margin: 0 auto;
  padding: 20px;
}

section {
  padding: 3em 2em;
  border-bottom: 1px solid var(--color-black);
  background-color: var(--color-white);
  border-radius: 8px;
  margin-bottom: 10px;
  max-width: 1000px; /* Ensure content boxes are not too wide */
  margin: 0 auto; /* Center the content */

}

/* Responsive Styles */
@media (max-width: 768px) {

  .section {
    padding: 2em 1em;
  }

  header {
    padding: 5em 0;
  }

  .wrapper {
    max-width: 90%;
    padding: 24px;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  h4 {
    font-size: 1rem;
  }



  .business-details {
    flex-direction: column;
  }

  .business-details .column {
    margin: 1em 0;
  }
}

/* 3. Header
/* ---------------------------------------------------------- */

header {
  background: url('/img/bg.png') no-repeat center center;
  background-size: cover;
  color: var(--color-white);
  text-align: center;
  padding: 10em 0 5em; /* Reduced bottom padding to close the gap */
  position: relative;
}

header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0); /* Adjust transparency as needed */
}

header .logo {
  position: relative;
  z-index: 1;
  max-width: 30%;
}

/* Button */
.header-buttons {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  flex-wrap: wrap; /* Ensures buttons stack on mobile */
}

.header-buttons a,
.header-buttons button {
  margin: 0.5em; /* Adjust spacing as needed */
  width: 150px;
}

.transparent-button {
  background-color: transparent;
  border: 2px solid var(--color-light-yellow);
  color: var(--color-light-yellow);
  padding: 0.5em 1em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  cursor: pointer;
  border-radius: 2em;
  transition: background-color 0.3s, color 0.3s;
  width: 150px;
  box-sizing: border-box;
}

.transparent-button:hover {
  background-color: var(--color-light-yellow);
  color: var(--color-dark-green);
}

/* Responsive Styles */
@media (max-width: 768px) {
  header .logo {
    max-width: 50%;
  }

  .header h2 {

  }

  .header-buttons {
    flex-direction: column;
    align-items: center; /* Center align the buttons */
  }

  .header-buttons a,
  .header-buttons button {
    width: 80%; /* Adjust width to fit better on mobile */
    text-align: center; /* Center text in buttons */
  }
}

/* 4. About
/* ---------------------------------------------------------- */

.about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-blue);
  color: var(--color-blue);
  padding: 2em 2em;
  position: relative;
  max-width: 80%;
  margin: 0 auto;
  border-bottom: 0px solid var(--color-black);
}

.about p {
  max-width: 100%;
  font-size: var(--font-size-body);
  line-height: var(--line-height-normal);
  font-family: var(--font-family-text);
  text-align: justify;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .about {
    flex-direction: column;
    text-align: center;
  }

  .about p {
    max-width: 100%;
    margin-bottom: 2em;
    text-align: justify;
  }
}


/* 4. Open Data
/* ---------------------------------------------------------- */

.open-data {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-blue);
  color: var(--color-blue);
  padding: 2em 2em; /* Ensure even padding around the content */
  position: relative;
  max-width: 80%; /* Set a max-width to ensure it doesn't span the full width */
  margin: 0 auto; /* Center the about section */
  border-bottom: 0px solid var(--color-black);
}

.open-data p {
  max-width: 100%; /* Control the width of the text block */
  font-size: var(--font-size-body);
  line-height: var(--line-height-normal);
  font-family: var(--font-family-text);
  text-align: justify;
  color: var(--color-white);
}


/* Responsive Styles */

@media (max-width: 768px) {
  .open-data {
    flex-direction: column;
    text-align: center;
  }

  .open-data p {
    max-width: 100%;
    margin-bottom: 2em;
    text-align: justify;
  }


}



/* 4.2 Capabilities
/* ---------------------------------------------------------- */

.capabilities::before {
  content: '';
  display: block;
  height: 1em; /* Adjust to align with the first item */
}

.capabilities {
  background-color: var(--color-grey);
  padding: 0.5em 2em;
  border-radius: 40px;
  max-width: 80%;
  margin: 0 auto;
  margin-bottom: 15px;
  flex-direction: column;
}

.capability-column {
  display: flex;
  justify-content: space-between;
}

.capability {
  flex: 1;
  padding: 0 1em;
}

.capabilities h3 {
  color: var(--color-dark-blue); /* Updated to dark blue for headers */
}

.capabilities p {
  color: var(--color-black);
}

.capability h4 {
  margin-bottom: 0.5em;
  color: var(--color-dark-blue); /* Updated to dark blue for headers */
  font-size: var(--font-size-h4);
}

.capability ul {
  list-style-type: initial;
  padding-left: 8%;
}

.capability ul li {
  margin: 0.25em 0; /* Reduced the margin to reduce spacing */
  color: var(--color-black); /* Updated to black for main text */
  font-size: var(--font-size-body);
}

.capability ul li p {
  margin: 0.25em 0 0 0; /* Added margin to control spacing of supporting text */
  color: var(--color-black); /* Ensuring supporting text matches the main text color */
}

/* Responsive Styles */
@media (max-width: 768px) {

   .capability-column {
    flex-direction: column;
  }

}



/* 7. Contact
/* ---------------------------------------------------------- */

.contact {
  background-color: var(--color-blue);
  padding: 3em 2em;
  border-radius: 8px;
}

.contact h3 {
  text-align: center;
}

.contact form {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 0 auto;

}

.contact form label {
  margin-top: 1.1em;
  color: var(--color-white);
}

.contact form input,
.contact form textarea {
  padding: 0.5em;
  margin-top: 0.5em;
  border: 1px solid var(--color-white);
  border-radius: 4px;
  font-size: 1em;
  background-color: var(--color-blue);
  color: var(--color-white);
  font-family: var(--font-family-text);
}

.contact form button {
  background-color: transparent;
  color: var(--color-light-yellow);
  transition: background-color 0.3s, color 0.3s;
  cursor: pointer;
  border-radius: 2em;
  margin-top: 1em;
  padding: 0.5em 1em;
  position: relative;
  z-index: 1;
  border: 2px solid var(--color-light-yellow);
  font-size: 1.3em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 0.75em;
}

.contact form button:hover {
  background-color: var(--color-light-yellow);
  color: var(--color-dark-green);
}


/* Responsive Styles */
@media (max-width: 768px) {


}

/* 8. Footer
/* ---------------------------------------------------------- */

footer {
  background-color: var(--color-light-black);
  color: var(--color-white);
  text-align: center;
  padding: 2em 0;
  border-radius: 8px;
}

footer img {
  max-width: 60px;
  margin: 0.5em;
}

footer p {
  margin: 0.5em 0;
}

/* Responsive Styles */
@media (max-width: 768px) {


}

/* 9. Views
/* ---------------------------------------------------------- */

/* 9.1 Dark Mode
/* ---------------------------------------------------------- */

/* 9.2 Light Mode
/* ---------------------------------------------------------- */

/* 10. Other Pages
/* ---------------------------------------------------------- */

.other {
  padding: 3em 2em;
  border-bottom: 1px solid var(--color-black);
  background-color: var(--color-black);
  border-radius: 8px;
  margin-bottom: 20px;
  max-width: 1000px; /* Ensure content boxes are not too wide */
  margin: 0 auto; /* Center the content */

}

/* 11. Digital Public Goods - Updated Layout */
/* ---------------------------------------------------------- */
.dpga-badges {
  background-color: var(--color-grey);
  color: var(--color-dark-blue);
  padding: 2em;
  border-radius: 40px;
  margin: 20px auto;
  max-width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dpga-content {
  display: flex;
  align-items: center;
  gap: 2em;
  width: 100%;
}

.dpga-logo {
  max-width: 150px;
  height: auto;
  flex-shrink: 0;
}

.dpga-text {
  flex: 1;
}

.dpga-text h3 {
  font-size: var(--font-size-h3);
  margin-bottom: 1em;
  color: var(--color-dark-blue);
}

.dpga-text p {
  font-size: var(--font-size-body);
  margin-bottom: 1.5em;
  line-height: 1.5;
  color: var(--color-black);
}

.dpga-button {
  background-color: var(--color-dark-blue);
  color: var(--color-white);
  text-decoration: none;
  padding: 0.5em 1.5em;
  font-size: var(--font-size-body);
  border-radius: 4px;
  display: inline-block;
  transition: background-color 0.3s, color 0.3s;
}

.dpga-button:hover {
  background-color: var(--color-light-blue);
  color: var(--color-black);
}

/* Responsive Styles */
@media (max-width: 768px) {
  .dpga-content {
    flex-direction: column;
    text-align: center;
    gap: 1em;
  }

  .dpga-logo {
    max-width: 100px;
  }

  .dpga-text p {
    margin-bottom: 1em;
  }
}
